/* ===== Body ===== */
body {
  background: #000000;
  font-family: 'Segoe UI', sans-serif;
}

/* ===== Header ===== */
header {
  background: linear-gradient(to right, #0d6efd, #6610f2);
  color: #000000;
  padding: 60px 20px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
}

/* ===== Features ===== */
.features {
  padding: 50px 20px;
  text-align: center;
}

.feature-item {
  margin-bottom: 30px;
}

.feature-item h4 {
  margin-top: 15px;
}

/* ===== Lista de Tarefas ===== */
.todo-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  background: #000000;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #000000;
}

.task-item:last-child {
  border-bottom: none;
}

.task-item.completed span {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}

.btn-delete {
  background: none;
  border: none;
  color: #000000;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-delete:hover {
  color: #000000;
}

/* ===== Footer ===== */
footer {
  text-align: center;
  padding: 30px 20px;
  background: #343a40;
  color: #000000;
  margin-top: 50px;
}
